{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["transform-dirname-filename"],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "src": "./src"
      }
    }]
  ]
}